.available{
    width: 100%;
    height: 640px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    .centeravailable{
        width: 73%;
        height: 87%;
      background-color: #e2e8f0;
      
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        gap: 15px;
        .centeravatop{
            display: flex;
            
            width: 94.3%;
            height: 45px;
        
            span{
                width: 82%;
                height: 100%;
                font-family: var(--shabnam);
                font-size: 24px;
                font-weight: 700;
                color: #757575;
            }
            .top2{
             width: 225px;
             height: 100%;
             display: flex; 
                align-items: end;
                justify-content: end;
                position: relative;

                span{
                  font-size: 15px; 
                  font-family: var(--shabnam);
                  color: #4e5e60;
                  font-weight: 300;
                  
                  img{
                    color: grey;
                    margin-bottom: -8px;
        
                  }
                }
            }
            
        }
        .centeravabottom{
            width: 94%;
            height: 78%;
          
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
    
              .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      border-radius: 10px; 
      .texts{
        display: flex;
        flex-flow: column wrap;
        font-family: var(--shabnam);
        
        font-size: 14px;
        color: black;
       .span{
         font-size: 12px;
         color: #4e5e60;
       }
    }
    .span1{
        font-family: var(--perNum);
        text-decoration:  1px line-through grey;
        color: #757575;
        text-align: left;
        display: block;
        width: 95%;
     } 
     .unava{
        height: 50px;
        background-color:rgba(241, 177, 177, 0.8) ;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--shabnam);
        font-size: 14px;
        color:rgba(155, 44, 44);
        border-radius: 0 0 10px 10px;
     } 
      .mainprice{
         width: 90%;
            height: 25px;
             display: flex;
            justify-content: end;
            align-items:center;
              gap: 4px;

             span{
              color:rgb(10, 90, 189) ;
              font-size: 20px;
              font-weight: 700;
              font-family: var(--perNum);
              
            }
            .currency{
              color:rgba(0, 0, 0, 0.6) ;
              font-size: 10px;
              font-family: var(--shabnam);
              
            }
      }
       .circle{
        width: 94%;
        height: 39px;
        display: flex;
        justify-content:end;
        align-items: end;
        flex-flow: column ;
        gap: 3px;
            .blue{
          width: 16px;
          height: 16px;
          background-color:#0000FF;
          border-radius: 30px;
          margin-bottom: 10px;
        }
        .black{
             width: 16px;
          height: 16px;
          background-color: black;
          border-radius: 30px;
          margin-bottom:18px ;

        }
         .white{ width: 15px;
          height: 15px;
          background-color: white;
          border-radius: 30px;
          border: 1px solid whitesmoke;
          margin-bottom: 18px;
        } 
        




      }
     .span2{
       text-align: left;
        display: block;
        width: 95%;
        height: 30px; 
     }
     
     
      
    }

    .swiper-slide img {
      display: flex;
      width: 100%;
      height: 75%;
      object-fit: contain;
      
     
    } 

       
          
            
       }
    }
}

