.banner{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    margin-top: 135px;
     .swiper {
      width: 69%;
      height: 90%;
      border-radius: 15px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #2b2b2b;
}