.bestselling{
    width: 100%;
    height: 550px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    .centersell{
        width: 75%;
        height: 580px;
         border-radius: 15px;
         display: flex;
        justify-content: start;
        flex-flow: column wrap;
        gap: 18px;
        align-items: center;
        margin-bottom: 80px;
        background-color: #e2e8f0;
         .selltop{
            width: 98%;
            height: 53px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            flex-flow: row;
        
            span{ 
                font-size: 24px; 
                  font-family: var(--shabnam);
                  color: #4e5e60;
                  font-weight: 300;
                  padding: 10px;
                  box-sizing: border-box;
                 }
                 .top2{
                    font-family: var(--shabnam);
                    
                     width: 350px;
                      height: 100%;
                       display: flex; 
                       align-items: end;
                       justify-content: end;
                    span{
                        font-size: 14px;
                        font-weight: 300;
                    }
                     img{
                    color: grey;
                    margin-bottom: -8px;
                 }
                 
            }
         }
         .sellbottom{
            width: 98%;
            height: 430px;
             border-radius: 15px ;
             box-shadow: 0 4px 6px -1px rgba (0,0,0, 0.1) , 0 2px 4px -1px rgba (0,0,0,0.06);
          
             margin-bottom: 28px;
            
            .circle{
        width: 94%;
        height: 39px;
        display: flex;
        justify-content:end;
        align-items: end;
        flex-flow: column ;
        gap: 3px;
  
        .small{
          width: 16px;
          height: 16px;
          background-color: black;
          border-radius: 30px;
        }
        .white{ width: 15px;
          height: 15px;
          background-color: white;
          border-radius: 30px;
          border: 1px solid whitesmoke;
        }
        .blue{
          width: 16px;
          height: 16px;
          background-color:#0000FF;
          border-radius: 30px;
          margin-bottom: 10px;
        }
        .black{
             width: 16px;
          height: 16px;
          background-color: black;
          border-radius: 30px;
          margin-bottom:10px ;

        }
        .gray{
            width: 16px;
          height: 16px;
          background-color: gray;
          border-radius: 30px; 
        }
      
      }







    .swiper {
      width: 100%;
      height: 98%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      border-radius: 10px;
      .texts{
        display: flex;
        flex-flow: column wrap;
        font-family: var(--shabnam);
        
        font-size: 14px;
        color: black;
       .span{
         font-size: 12px;
         color: #4e5e60;
       }
    }
     .span1{
        font-family: var(--perNum);
        text-decoration:  1px line-through grey;
        color: #757575;
        text-align: left;
        display: block;
        width: 95%;
     } 
     .span2{
       text-align: left;
        display: block;
        width: 95%;
        height: 30px; 
     }
     .unava{
        height: 53px;
        background-color:rgba(241, 177, 177, 0.8) ;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--shabnam);
        font-size: 14px;
        color:rgba(155, 44, 44);
        border-radius: 0 0 10px 10px;
     }
     .mainprice{
         width: 90%;
            height: 25px;
             display: flex;
            justify-content: end;
            align-items:center;
              gap: 4px;

             span{
              color:rgb(10, 90, 189) ;
              font-size: 20px;
              font-weight: 700;
              font-family: var(--perNum);
              
            }
            .currency{
              color:rgba(0, 0, 0, 0.6) ;
              font-size: 10px;
              font-family: var(--shabnam);
              
            }
      }





    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 65.5%;
      object-fit: cover;
      margin-bottom: 15px;
     
      
    }
            
           
       
         }
         
     }
            
}

.swiper-button-prev{
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 50%;
    font-size: 20px;
    transition: 200ms;
    &:hover{
        background-color: gray;
    }
    &:hover svg{
        color:whitesmoke;
    }
    svg{
        width: 20px;
        height: 20px;
        color: gray;
        
    }
}
.swiper-button-next{
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 50%;
    font-size: 20px;
    transition: 200ms;
    &:hover{
        background-color: gray;
    }
    &:hover svg{
        color:whitesmoke;
    }
    svg{
        width: 20px;
        height: 20px;
        color: gray;
        
    }
}