.discount{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    .centerdis{
      width: 72%;
      height: 94%;
      background-color: #e2e8f0;
      border-radius: 20px;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      .centerdistop{
        width: 100%;
        height: 15%;
        display: flex;
        .text{
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: start;
            padding-right: 40px;
            column-gap: 10px;
            box-sizing: border-box;
            .imgpercent{
              width: 40px;
              height: 40px;
              padding-top: 23px;
              
            }
            span{
                font-family: var(--shabnam);
                font-size: 35px;
                font-weight: bold;
                color: gray;
                padding-top: 20px;
                
            }
            

        }
        .countdown{
               span{
                 width: 290px;
                height: 100%;
                font-family: var(--perNum);
                color: grey;
                font-size: 22px;
                font-weight: bold;
                display: flex; 
                align-items: center;
                justify-content: end;
                
                
               }
            }
      }
      .centerdisbottom{
        width: 95%;
        height: 80%;
       display: flex;
       flex-flow: row wrap;
        justify-content: space-around;
        gap:10px ;
        .bottomitem1{
          height: 100%;
          width: 29%;
          background-color: blueviolet;
           display: flex;
          flex-flow: column wrap;
          padding: 12px;
          box-sizing: border-box;
          align-items: center;
          border-radius: 15px;
          gap: 10px;
          background-color: #ffffff;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0,0, 0, 0.06);
          transition: 170ms;
           &:hover{
            box-shadow: 0 2px 10px #7b7b7b;
          }
          img{
            width: 286px;

          }
          p{
            font-family: var(--shabnam);
            font-size: 16px;
            line-height: 28px;
          }
          .offer{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding: 10px;
            box-sizing: border-box;
            font-family: var(--perNum);
            .before{
              text-decoration: 1.5px solid line-through grey;
              color: gray;
              font-size: 14px;
            }
            .after{
              color: #fe5f55 ;
              font-size: 13px;
              font-weight: 500;
            }
          }
          .mainprice{
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: end;
            align-items:start;
            flex-flow: row wrap;
            padding: 10px;
            box-sizing: border-box;
            column-gap: 5px;
            span{
              color:rgb(10, 90, 189) ;
              font-size: 17px;
              font-weight: bold;
              font-family: var(--perNum);
            }
            .currency{
              color:rgba(0, 0, 0, 0.6) ;
              font-size: 10px;
              font-family: var(--shabnam);
              margin-top: 7px;
            }
          }
        }
        .bottomitem2{ 
           width: 29%;
          height: 100%;
          background-color: black;
           display: flex;
          flex-flow: column wrap;
          padding: 12px;
          box-sizing: border-box;
          align-items: center;
          border-radius: 15px;
          gap: 9px;
          background-color: #ffffff;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0,0, 0, 0.06);
          transition: 170ms;
          &:hover{
            box-shadow: 0 2px 10px #7b7b7b;
          }
          img{
            width: 286px;

          }
          p{
            font-family: var(--shabnam);
            font-size: 16px;
            line-height: 28px;
          }
          .span2{
       text-align: left;
        display: block;
        width: 95%;
        height: 30px; 
     }
          .offer{
            width: 100%;
            height: 14.9%;
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding: 10px;
            box-sizing: border-box;
            font-family: var(--perNum);
            .before{
              text-decoration: 1.5px solid line-through grey;
              color: gray;
              font-size: 14px;
            }
            .after{
              color: #fe5f55 ;
              font-size: 13px;
              font-weight: 500;
            }
          }
          .mainprice{
            width: 100%;
            height: 6.9%;
            display: flex;
            justify-content: end;
            align-items:start;
            flex-flow: row wrap;
            padding: 10px;
            box-sizing: border-box;
            column-gap: 5px;
            
        
            span{
              color:rgb(10, 90, 189) ;
              font-size: 17px;
              font-weight: bold;
              font-family: var(--perNum);
            }
            .currency{
              color:rgba(0, 0, 0, 0.6) ;
              font-size: 10px;
              font-family: var(--shabnam);
              margin-top: 5px;
              
            }
          }
        
        }
        .bottomitems{
          width: 36%;
          height: 100%;
          display: flex;
          flex-flow: column wrap;
          justify-content: space-between;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0,0, 0, 0.06);
          .bitems1{
            width: 100%;
            height: 29%;
            border-radius: 20px;
            display: flex;
            flex-flow: row wrap;
      
          transition: 170ms;
           &:hover{
            box-shadow: 0 2px 10px #7b7b7b;
          }
            .image{
               width: 37%;
               height: 100%;
              .img{
                width: 100%;
                height: 100%;
                border-radius: 0 20px 20px 0;
              }
            }
            .texts{
              width: 63%;
              height: 100%;
              border-radius: 20px 0 0 20px;
              padding: 16px;
              box-sizing: border-box;
              background-color: #ffffff;
              display: flex;
              flex-flow: column wrap;
              p{
                font-family: var(--shabnam);
                line-height: 26px;
                font-size: 14px;
              }
              .offer{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                box-sizing: border-box;
                flex-flow: row wrap;
                gap: 7px;
                .before{
                  font-family: var(--perNum);
                  text-decoration: 1.5px solid line-through gray;
                  font-size: 13px;
                  color: grey;
                }
                .after{
                  font-family: var(--perNum);
                  font-size: 14px;
                  color: #fe5f55;
                  font-weight: 500;
                }

              }
              .mainprice{
                width: 100%;
            height: 6.9%;
            display: flex;
            justify-content: end;
            align-items:start;
            flex-flow: row wrap;
            padding: 10px;
            box-sizing: border-box;
            column-gap: 5px;
            
        
            span{
              color:rgb(10, 90, 189) ;
              font-size: 17px;
              font-weight: bold;
              font-family: var(--perNum);
            }
            .currency{
              color:rgba(0, 0, 0, 0.6) ;
              font-size: 10px;
              font-family: var(--shabnam);
              margin-top: 7px;
            }

              }
            }

          }
         .bitems2{
        width: 100%;
            height: 27%;
            border-radius: 20px;
            display: flex;
            flex-flow: row wrap;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0,0, 0,.06);
          transition: 170ms;
            &:hover{
            box-shadow: 0 2px 10px #7b7b7b;
          }
            .image{
               width: 37%;
               height: 100%;
              .img{
                width: 100%;
                height: 100%;
                border-radius: 0 20px 20px 0;
              }
            }
            .texts{
              width: 63%;
              height: 100%;
              border-radius: 20px 0 0 20px;
              padding: 16px;
              box-sizing: border-box;
              background-color: #ffffff;
              display: flex;
              flex-flow: column wrap;
              p{
                font-family: var(--shabnam);
                line-height: 25px;
                font-size: 14px;
              }
              .offer{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 4px;
                box-sizing: border-box;
                flex-flow: row wrap;
                margin-top: -4px;
                .before{
                  font-family: var(--perNum);
                  text-decoration: 1.5px solid line-through gray;
                  font-size: 13px;
                  color: grey;
                  
                }
                .after{
                  font-family: var(--perNum);
                  font-size: 14px;
                  color: #fe5f55;
                  font-weight: 500;
                }

              }
              .mainprice{
                width: 100%;
            height: 6.9%;
            display: flex;
            justify-content: end;
            align-items:start;
            flex-flow: row wrap;
            padding: 3px;
            box-sizing: border-box;
  
            span{
              color:rgb(10, 90, 189) ;
              font-size: 17px;
              font-weight: bold;
              font-family: var(--perNum);
            }
            .currency{
              color:rgba(0, 0, 0, 0.6) ;
              font-size: 10px;
              font-family: var(--shabnam);
              margin-top: 7px;
      
            }

              }
            }

         }
         .bitems3{
          width: 100%;
            height: 27%;
            border-radius: 20px;
            display: flex;
            flex-flow: row wrap;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0,0, 0,.06);
          transition: 170ms;
           &:hover{
            box-shadow: 0 2px 10px #7b7b7b;
          }
            .image{
               width: 37%;
               height: 100%;
              .img{
                width: 100%;
                height: 100%;
                border-radius: 0 20px 20px 0;
              }
            }
            .texts{
              width: 63%;
              height: 100%;
              border-radius: 20px 0 0 20px;
              padding: 16px;
              box-sizing: border-box;
              background-color: #ffffff;
              display: flex;
              flex-flow: column wrap;
              p{
                font-family: var(--shabnam);
                line-height: 26px;
                font-size: 14px;
              }
              .offer{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                box-sizing: border-box;
                flex-flow: row wrap;
                gap: 7px;
                .before{
                  font-family: var(--perNum);
                  text-decoration: 1.5px solid line-through gray;
                  font-size: 13px;
                  color: grey;
                }
                .after{
                  font-family: var(--perNum);
                  font-size: 14px;
                  color: #fe5f55;
                  font-weight: 500;
                }

              }
              .mainprice{
                width: 100%;
            height: 6.9%;
            display: flex;
            justify-content: end;
            align-items:start;
            flex-flow: row wrap;
            padding: 10px;
            box-sizing: border-box;
            column-gap: 5px;
            
        
            span{
              color:rgb(10, 90, 189) ;
              font-size: 17px;
              font-weight: bold;
              font-family: var(--perNum);
            }
            .currency{
              color:rgba(0, 0, 0, 0.6) ;
              font-size: 10px;
              font-family: var(--shabnam);
              margin-top: 7px;
            }

              }
            }
         }
        }
        }
        
      }
    }
