.favorite {
    width: 100%;
    height: 220px;
  
  
    display: flex;
    justify-content: center;
    align-items: start;
    .centerfav{
        height: 215px;
        width: 75%;
      gap: 5px;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
      
        
        .topfav{
            width: 70%;
            height: 35px;
        
            
            span{
                font-family: var(--shabnam);
                font-size: 25px;
                font-weight: 700;
                color:#757575 ;
            }
        }
        .bottomfav{
            width:100% ;
            height:160px ;
          
            
            
            
            .swiper {
      width: 100%;
      height: 125px;
    margin-top: 25px;
  padding-top: 5px;
    position: relative;
      
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 2px solid whitesmoke;
      box-shadow: 0 4px 6px -1px rgba (0,0,0, 0.1) , 0 2px 4px -1px rgba (0,0,0,0.06);
      transition: 280ms;
    
      &:hover{
        transform: translateY(-5px);
        z-index: 1001;
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 10px;
      
    }
          
        }

    }
}
.swiper-button-prev{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    transition: 200ms;
     position: absolute;
    top: 80%;
    left: 10px;
    transform: translateX(-10%);
    
    &:hover{
        background-color: gray;
    }
    &:hover svg{
        color:whitesmoke;
    }
    svg{
        width: 20px;
        height: 20px;
        color: gray;
        
    }
}
.swiper-button-next{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    transition: 200ms;
    position: absolute;
    top: 80%;
    right: 10px;
    transform: translateX(-10%);
    
    &:hover{
        background-color: gray;
    }
    &:hover svg{
        color:whitesmoke;
    }
    svg{
        width: 20px;
        height: 20px;
        color: gray;
        
    }
}
