.favorite {
    width: 100%;
    height: 200px;
  
    display: flex;
    justify-content: center;
    align-items: start;
    .centerfav{
        height: 180px;
        width: 75%;
      
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        .topfav{
            width: 70%;
            height: 50px;
            
            span{
                font-family: var(--shabnam);
                font-size: 25px;
                font-weight: 700;
                color:#757575 ;
            }
        }
        .bottomfav{
            width:100% ;
            height:130px ;
            
            
            .swiper {
      width: 100%;
      height: 115px;
      
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 2px solid whitesmoke;
      box-shadow: 0 4px 6px -1px rgba (0,0,0, 0.1) , 0 2px 4px -1px rgba (0,0,0,0.06);
      transition: 280ms;
      z-index: 1000;
      &:hover{
        transform: translateY(-5px);
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 10px;
      
    }
          
        }

    }
}

