@import "./setting.css";
@import "./header.css";
@import "./login.css";
@import "./banner.css";
@import "./customerclub.css";
@import "./discount.css";
@import "./category.css";
@import "./available.css";
@import "./reason.css";
@import "./bestselling.css";
@import "./favorite.css";
@import "./lastdocument.css";
@import "./rightaside.css";
@import "./left.css";
@import "./footer.css";
@import "./icon.css";

