.reason{
    width: 100%;
    height: 400px;
    
    display: flex;
        justify-content: center;
        align-items: center;
    .reasonc{
        width: 73%;
        height: 80% ;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .reasontop{
            width: 100%;
            height: 40px;
        
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                font-family: var(--shabnam);
                font-size: 24px;
                color: rgba(0, 0, 0, .87);
                font-weight: 700;
            }
        }
        .reasonbottom{
            width: 100%;
    
            height: 320px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            font-family: var(--shabnam);
            .reason1{
                width: 25%;
                height: 100%;

                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                 .texts{
        
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 65px;
                        height: 65px;
                    }
                    span{
                        color:#757575 ;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 28px;
                        text-align: center;
                    }
                    .span{
                        color: rgba(0, 0, 0, .87);
                        font-size: 14px;
                        line-height: 28px;
                        font-weight: 500;
                    }
                    
                }
                
            }
            .reason2{
                width: 25%;
                height: 100%;
                
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                 .texts{
                 
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                     img{
                        width: 65px;
                        height: 65px;
                    }
                    span{
                        color:#757575 ;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 28px;
                        text-align: center;
                    }
                     .span{
                        color: rgba(0, 0, 0, .87);
                        font-size: 14px;
                        line-height: 28px;
                        font-weight: 500;
                    }
                    
                }
            }
            .reason3{
                width: 25%;
                height: 100%;
                
               display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                 .texts{
                 
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                     img{
                        width: 65px;
                        height: 65px;
                    }
                    span{
                        color:#757575 ;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 28px;
                        text-align: center;
                    }
                     .span{
                        color: rgba(0, 0, 0, .87);
                        font-size: 14px;
                        line-height: 28px;
                        font-weight: 500;
                    }
                    
                } 
            }
            .reason4{
                width: 25%;
                height: 100%;

                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                 .texts{
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                     img{
                        width: 65px;
                        height: 65px;
                    }
                    span{
                        color:#757575 ;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 28px;
                        text-align: center;
                    }
                     .span{
                        color: rgba(0, 0, 0, .87);
                        font-size: 14px;
                        line-height: 28px;
                        font-weight: 500;
                    }
                    
                }
            }
        }
    }
}